body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #222;
}

/* Header */
header {
    background-color: #dbeafe;
    padding: 20px;
    text-align: center;
}

header p {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

/* Isi utama */
main {
    padding: 30px 50px;
    max-width: 1100px;
    margin: auto;
}

h1 {
    font-size: 25px;
    margin-bottom: 35px;
}

/* Informasi dasar */
#basic-info {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

/* Foto */
.left {
    width: 150px;
}

.left img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #4382ac;
}

/* Data diri */
.right {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.right h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

.right p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    line-height: 1.5;
    font-weight: normal;
}

/* Riwayat sekolah */
#education-history {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f7ff;
    border: 1px solid #d0d5e8;
    border-radius: 6px;
}

#education-history p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    color: #153481;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid #cbd0dc;
    padding: 12px 15px;
    text-align: left;
}

thead {
    background-color: #153481;
    color: white;
}

thead th {
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background-color: #f5f7fb;
}

tbody tr:hover {
    background-color: #eef2ff;
}

/* Footer */
footer {
    background-color: #dbeafe;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}